@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Space+Grotesk:wght@400;700&display=swap');

.font-space-grotesk {
  font-family: 'Space Grotesk', sans-serif;
}

.font-lobster {
  font-family: 'Lobster', cursive;
}

.font-delicious-handrawn {
  font-family: 'Indie Flower', cursive;
}